{% extends 'admin/layout.html.twig' %}

{% block title %}JV Archives - Admininstation{% endblock %}

{% block body %}
<div class="example-wrapper">
    <h1>Bienvenu {{ app.user.username }} !</h1>
    <p class="mb-5">Gérer le contenu de votre site comme vous le souhaitez</p>

    <div class="row gap-4">
        <div class="col-4">
            <div class="card bg-light shadow-sm">
                <div class="card-body">
                    <div><a href="{{ path('app_admin_article_index') }}">Articles</a></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-light shadow-sm">
                <div class="card-body">
                    <div><a href="{{ path('app_admin_console_index') }}">Consoles</a></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-light shadow-sm">
                <div class="card-body">
                    <div><a href="{{ path('app_admin_serie_index') }}">Séries</a></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-light shadow-sm">
                <div class="card-body">
                    <div><a href="{{ path('app_admin_user_index') }}">Utilisateurs</a></div>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card bg-light shadow-sm">
                <div class="card-body">
                    <div><a href="{{ path('app_admin_comment_index') }}">Commentaires</a></div>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
