{% extends 'base.html.twig' %}

{% block title %}Hello BlogController!{% endblock %}

{% block body %}
    <h1 class="page__h1 font__1">Tous les articles</h1>
    <section class="section">
        <div class="grid-4 gap-4">
            {% for article in articles %}
                <div class="card">
                    <div class="card__top">
                        <img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="{{ article.title }}">
                    </div>
                    <div class="card__body">
                        <div class="card__upper_body">
                            <a href="{{ path('app_article', {'slug' : article.slug}) }}">
                                <p class="card__title font__sm">{{ article.title }}</p>
                            </a>
                        </div>
                        <div class="card__down_body">
                            <div class="card__console_ctn">
                                {% for console in article.consoles %}
                                    <div class="card__console" style="background-color: {{ console.color }}"><a
                                                href="{{ path('app_console', {'slug': console.slug}) }}">{{ console.name }}</a>
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="card__date">{{ article.createdAt|date('d/m') }}</div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </section>
    <div class="navigation">
        {{ knp_pagination_render(articles) }}
    </div>
{% endblock %}
