{% extends 'admin/layout.html.twig' %}

{% block title %}Utilisateur{% endblock %}

{% block body %}
    <h1>Commentaires</h1>

    <div class="mb-4">
        <div class="d-flex justify-content-end">
            <div class="m-1">
                {{ include('admin/comment/_delete_form.html.twig') }}
            </div>
        </div>
    </div>

    <table class="table">
        <tbody>
        <tr>
            <th>Auteur</th>
            <td>{{ comment.author }}</td>
        </tr>
        <tr>
            <th>Création</th>
            <td>{{ comment.createdAt ? comment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        <tr>
            <th>Mise à jour</th>
            <td>{{ comment.updatedAt ? comment.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
        </tr>
        </tbody>
    </table>

    <div class="row mt-5">
        <h2 class="mb-5">Contenu</h2>
        <div>{{ comment.content }}</div>
    </div>
{% endblock %}

