{% extends 'admin/layout.html.twig' %}

{% block title %}Serie index{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between align-items-center mb-4">
        <h1>Liste des séries</h1>
        <a href="{{ path('app_admin_serie_new') }}" class="btn btn-primary">Créer un nouveau</a>
    </div>
    <table class="table mb-4">
        <thead>
            <tr>
                <th>Image</th>
                <th>Nom</th>
                <th>Mise à jour</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for serie in series %}
            <tr>
                <td class="table__cell"><img src="{{ vich_uploader_asset(serie) }}" alt="" width="100px"></td>
                <td class="table__cell">{{ serie.name }}</td>
                <td class="table__cell">{{ serie.updatedAt ? serie.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td class="table__cell">
                    <a href="{{ path('app_admin_serie_show', {'id': serie.id}) }}" class="btn btn-info">Détails</a>
                    <a href="{{ path('app_admin_serie_edit', {'id': serie.id}) }}" class="btn btn-primary">Editer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">Aucune série trouvée</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
